.site-nav {
    
    .nav-list {
        width:100%;
    }
    .nav-list .nav-list-link{
        width: 100%;
        margin: 0px 8px 0px 0px;
        font-size: 1.2em;
        padding: 0 0.5em 1.2em 0;
    }

    .nav-list-item a {
        font-size: 1.2em;
    }
}

.side-bar {
 width: 24%;
}
